*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #4257cc;
}
.heading{
    background-color: #3126fc;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: 4px solid black;
}
.searchbox{
    text-align: center;
    margin: 20px;
}
#city{
    padding: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}
button{
    padding: 10px 15px;
    border: none;
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
}
#weatherInfo{
    text-align: center;
    background-color: green;
    color: white;
    margin: 20px 10px;
    min-height: 58vh;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 10px;
    display: none;
}
#cityName{
    font-size: 30px;
    margin-bottom: 10px;
    text-decoration: underline;
}
#day-selection{
    text-align: center;
    margin: 20px;
    display: none;
}